In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/databaitapcanhan/spam_email.csv

In [2]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.datasets import load_breast_cancer
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import LabelEncoder

In [3]:
# Load libraries
from sklearn.ensemble import AdaBoostClassifier
from sklearn import datasets
# Import train_test_split function
from sklearn.model_selection import train_test_split
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics

In [4]:
df = pd.read_csv("/kaggle/input/databaitapcanhan/spam_email.csv")
df.head()

,make,address,all,3d,our,over,remove,internet,order,mail,...,semicol,paren,bracket,bang,dollar,pound,cap_avg,cap_long,cap_total,Class
0,0.00,0.00,0.29,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.178,0.0,0.044,0.000,0.00,1.666,10,180,ham
1,0.46,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.125,0.0,0.000,0.000,0.00,1.510,10,74,ham
2,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.000,0.000,0.00,1.718,11,55,ham
3,0.33,0.44,0.37,0.0,0.14,0.11,0.00,0.07,0.97,1.16,...,0.006,0.159,0.0,0.069,0.221,0.11,3.426,72,819,spam
4,0.00,2.08,0.00,0.0,3.12,0.00,1.04,0.00,0.00,0.00,...,0.000,0.000,0.0,0.263,0.000,0.00,1.428,4,20,spam

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4601 entries, 0 to 4600
Data columns (total 58 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   make        4601 non-null   float64
 1   address     4601 non-null   float64
 2   all         4601 non-null   float64
 3   3d          4601 non-null   float64
 4   our         4601 non-null   float64
 5   over        4601 non-null   float64
 6   remove      4601 non-null   float64
 7   internet    4601 non-null   float64
 8   order       4601 non-null   float64
 9   mail        4601 non-null   float64
 10  receive     4601 non-null   float64
 11  will        4601 non-null   float64
 12  people      4601 non-null   float64
 13  report      4601 non-null   float64
 14  addresses   4601 non-null   float64
 15  free        4601 non-null   float64
 16  business    4601 non-null   float64
 17  email       4601 non-null   float64
 18  you         4601 non-null   float64
 19  credit      4601 non-null   float64
 20  your        4601 non-null   float64
 21  font        4601 non-null   float64
 22  000         4601 non-null   float64
 23  money       4601 non-null   float64
 24  hp          4601 non-null   float64
 25  hpl         4601 non-null   float64
 26  george      4601 non-null   float64
 27  650         4601 non-null   float64
 28  lab         4601 non-null   float64
 29  labs        4601 non-null   float64
 30  telnet      4601 non-null   float64
 31  857         4601 non-null   float64
 32  data        4601 non-null   float64
 33  415         4601 non-null   float64
 34  85          4601 non-null   float64
 35  technology  4601 non-null   float64
 36  1999        4601 non-null   float64
 37  parts       4601 non-null   float64
 38  pm          4601 non-null   float64
 39  direct      4601 non-null   float64
 40  cs          4601 non-null   float64
 41  meeting     4601 non-null   float64
 42  original    4601 non-null   float64
 43  project     4601 non-null   float64
 44  re          4601 non-null   float64
 45  edu         4601 non-null   float64
 46  table       4601 non-null   float64
 47  conference  4601 non-null   float64
 48  semicol     4601 non-null   float64
 49  paren       4601 non-null   float64
 50  bracket     4601 non-null   float64
 51  bang        4601 non-null   float64
 52  dollar      4601 non-null   float64
 53  pound       4601 non-null   float64
 54  cap_avg     4601 non-null   float64
 55  cap_long    4601 non-null   int64
 56  cap_total   4601 non-null   int64
 57  Class       4601 non-null   object
dtypes: float64(55), int64(2), object(1)
memory usage: 2.0+ MB

In [6]:
X = df[['make', 'address', 'all','3d','our','over','remove','internet', 'order', 'mail', 'receive', 
        'will', 'people', 'report', 'addresses', 'free', 'business', 'email', 'you', 'credit', 'your', 
          'font', '000','money','hp','hpl','george', '650','lab','labs', 'telnet','857','data', '415',
        '85', 'technology','1999','parts','pm','direct','cs','meeting','original', 'project','re','edu',
        'table','conference','semicol','paren','bracket','bang','dollar','pound','cap_avg','cap_long','cap_total']]

X.head()

,make,address,all,3d,our,over,remove,internet,order,mail,...,conference,semicol,paren,bracket,bang,dollar,pound,cap_avg,cap_long,cap_total
0,0.00,0.00,0.29,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.0,0.000,0.178,0.0,0.044,0.000,0.00,1.666,10,180
1,0.46,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.0,0.000,0.125,0.0,0.000,0.000,0.00,1.510,10,74
2,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.0,0.000,0.000,0.0,0.000,0.000,0.00,1.718,11,55
3,0.33,0.44,0.37,0.0,0.14,0.11,0.00,0.07,0.97,1.16,...,0.0,0.006,0.159,0.0,0.069,0.221,0.11,3.426,72,819
4,0.00,2.08,0.00,0.0,3.12,0.00,1.04,0.00,0.00,0.00,...,0.0,0.000,0.000,0.0,0.263,0.000,0.00,1.428,4,20

In [7]:
y = df['Class']

y.head()

0     ham
1     ham
2     ham
3    spam
4    spam
Name: Class, dtype: object